<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.savoidage.springbootidempotent.demo.dao.SysUserDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.savoidage.springbootidempotent.demo.entity.SysUser">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="real_name" property="realName"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `user_name`,
        `pass_word`,
        `real_name`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_user (
            `id`,
            `user_name`,
            `pass_word`,
            `real_name`
        ) VALUES (
            #{pojo.id},
            #{pojo.userName},
            #{pojo.passWord},
            #{pojo.realName}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.userName!=null"> `user_name`,</if>
            <if test="pojo.passWord!=null"> `pass_word`,</if>
            <if test="pojo.realName!=null"> `real_name`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.userName!=null">#{pojo.userName},</if>
            <if test="pojo.passWord!=null">#{pojo.passWord},</if>
            <if test="pojo.realName!=null">#{pojo.realName},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_user (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.userName},
            #{pojo.passWord},
            #{pojo.realName}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE sys_user
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.userName != null"> `user_name` = #{pojo.userName}, </if>
            <if test="pojo.passWord != null"> `pass_word` = #{pojo.passWord}, </if>
            <if test="pojo.realName != null"> `real_name` = #{pojo.realName} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <delete id="delete">
        delete from sys_user where id = #{id}
    </delete>

    <select id="findOne" parameterType="java.lang.String" resultMap="AllColumnMap">
        select <include refid="all_column"/> from sys_user where id = #{id}
    </select>

    <select id="findList" resultType="com.savoidage.springbootidempotent.demo.entity.SysUser">
        select <include refid="all_column"/> from sys_user
    </select>
</mapper>

